# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.suo
*.user
*.sln.docstates



# Build results
bin.contracts/
[Dd]ebug/
[Rr]elease/
x64/
build/
deploy/
[Bb]in.debug/
[Oo]bj/
Help/
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
source/MiniSim.Core/PropertyDatabase/ChemSep/nrtl.ipd
source/MiniSim.Core/PropertyDatabase/ChemSep/srk.ipd
source/MiniSim.Core/PropertyDatabase/ChemSep/uniquac.ipd
source/ChemSepDBAdapter/ChemSepDBAdapter/Data/srk.ipd
*.ipd
doc/.ipynb_checkpoints/ThermoValidation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleFlash-checkpoint.ipynb
doc/.ipynb_checkpoints/PressureSwingDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/AzeotropicDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/SimpleDistillation-checkpoint.ipynb
doc/.ipynb_checkpoints/PressureSwingDistillation-Advanced-checkpoint.ipynb
doc/.ipynb_checkpoints/PressureSwingDistillation-Sensitivity2D-checkpoint.ipynb
doc/.ipynb_checkpoints/AzeotropicDistillation-Graphics-checkpoint.ipynb
doc/.ipynb_checkpoints/InteractiveThermodynamics-checkpoint.ipynb
*.pyc
doc/.ipynb_checkpoints/Thermodynamics-LLE-checkpoint.ipynb
